input[type='search']:focus {
	outline: 1px solid #19a974;
}

section {
	position: sticky;
	top: 0;
	border-bottom: 1px solid;
	z-index: 999;
	margin: 0;
	padding: 0;
	background: linear-gradient(to left, rgba(7, 27, 82, 1.0) 0%, rgba(0, 128, 128, 1.0) 100%);
}

